*{
  padding: 0;
}


html {
    height: 100%;
    width: 100%;
  }

  hr{
    border-color: black;
  }
  /* 12 Grid */
  .layout{
    border: 2px solid black;
    display: grid;
    grid: 
      "span12 span12 span12 span12 span12 span12 span12 span12 span12 span12 span12 span12 " 1fr
    "span6 span6 span6 span6 span6 span6 . . . . . ." 1fr
    ". . . . . span3 span3 span3 . . . ." 1fr
    ". . . . span1 . . . . . . ." 1fr
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 5px;
  }
  .span12{grid-area: span12; background-color: #bbb;}
  .span6{grid-area: span6; background-color: #bbb;}
  .span3{grid-area: span3; background-color: #bbb;}
  .span1{grid-area: span1;background-color: #bbb;}


  /* 3x3 */
  .layout2{
    border: 2px solid black;
    width: 99%;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .x3{
    background-color: lavender;
    border: 2px solid lightblue;
  }


  /* Holy Grail */
  .layout3{
    border: 2px solid black;
    width: 99%;
    height: 300px;
    display: grid;
    grid: 
      "header header header" auto 
      "leftSide body rightSide" 1fr
      "footer footer footer" auto
    / auto 1fr auto;
    gap: 5px;
  }
  .header{grid-area: header; background-color: #f9bec8;}
  .leftSide{grid-area: leftSide; background-color: #ea546c;}
  .rightSide{grid-area: rightSide; background-color: #ea546c;}
  .body{grid-area: body; background-color: #6ec9e7}
  .footer{grid-area: footer; background-color: #b85162;}


  /* Sidebar */
  .layout4{
    border: 2px solid black;
    width: 99%;
    height: 300px;
    display: grid;
    grid: 
      "sidebar body1" 1fr
    / auto 1fr;
    gap: 5px;
  }
  .sidebar{grid-area: sidebar; background-color: #915cc7;}
  .body1{grid-area: body1; background-color: #b086df;}


  /* Header Main Footer */
  .layout5{
    border: 2px solid black;
    width: 99%;
    height: 300px;
    display: grid;
    grid: 
      "header1" auto
      "main" 1fr
      "footer1" auto
    / 1fr;
    gap: 5px;
  }
  .header1{grid-area: header1; background-color: #59b159;}
  .main{grid-area: main; background-color: lightgreen;}
  .footer1{grid-area: footer1; background-color: #076407;}


  /* Infinite Rows */
  .layout6{
    border: 2px solid black;
    width: 99%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr); 
    gap: 5px;
  }
  .box{
    border: 1px solid darkblue;
    background-color: lightblue
  }


  /* Infinite Rows with Areas */
  .layout7{
    border: 2px solid black;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr); 
    gap: 5px;
  }
  .col1Last1{
    grid-column: 1/-1;
  }


  /* Flexbox Row */
  .layout8{
    border: 2px solid #c45a5a;
    background-color: #f4bddb;
    display: flex;
    gap: 10px;
  }


  /* Flexbox Row Wrap */
  .layout9{
    border: 2px solid #c45a5a;
    background-color: #f4bddb;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }


  /* Flexbox Fill Space */
  .layout10{
    border: 2px solid #289a59;
    background-color: #a9ff9e;
    display: flex;
    gap: 10px;
  }
  .grow1{
    flex-grow: 1;
  }


  /* Flexbox Fill Remaining Space */
  .layout11{
    border: 2px solid #f26969;
    background-color: #ffb3d7;
    display: flex;
    gap: 10px;
  }


  /* Flexbox Seperate */
  .layout12{
    border: 2px solid #be3ec1;
    background-color: #f2c4da;
    display: flex;
    gap: 10px;
  }
  .marginLeft{
    margin-left: auto;
  }


  /* Your Own */
  .layout13{
    border: 2px solid black;
    width: 99%;
    height: 300px;
    display: grid;
    grid: 
      "leftSide2 body2 rightSide2" 1fr
      "footer3 footer3 footer3"
    / auto 1fr auto;
    gap: 5px;
  }
  .leftSide2{grid-area: leftSide2; background-color: #d493ec;}
  .rightSide2{grid-area: rightSide2; background-color: #d493ec;}
  .body2{grid-area: body2; background-color:#a8daf0; text-align: center;}
  .footer3{grid-area: footer3; background-color: #ccf0cc; text-align: center;}








  /* ANIMATIONS */

  /* 2D Animation X and Y axis */
  #twoD{
    border: 3px dashed #e68495;
    background-color: #fdc4cc;
  }


  /* Translate Method*/
  .trans:hover{
    transform: translate(50px, 100px);
  }


  /* Translate X Method*/
  .transX:hover{
    transform: translateX(50px);
  }


  /* Translate Y Method*/
  .transY:hover{
    transform: translateY(100px);
  }


  /* Rotate Method */
  #rotate:hover{
    transform: rotate(20deg);
  }


  /* Rotate X Method*/
  #rotateX:hover{
    transform: rotateX(180deg);
  }


  /* Rotate Y Method */
  #rotateY:hover{
    transform: rotateY(180deg);
  }


  /* Scale Method */
  #scale:hover{
    transform:scale(2,3)
  }


  /* Scale X Method */
  #scaleX:hover{
    transform:scaleX(2)
  }


  /* Scale Y Method */
  #scaleY:hover{
    transform:scaleY(3)
  }


  /* Skew Method */
  #skew:hover{
    transform: skew(20deg, 20deg);
  }


  /* Skew X Method */
  #skewX:hover{
    transform:skewX(20deg);
  }


  /* Skew Y Method */
  #skewY:hover{
    transform:skewY(20deg);
  }


  /* Matrix Method */
  /* matrix(scaleX, skewY, skewX, scaleY, translateX, translateY) */
  #matrix:hover{
    transform: matrix(2, -0.7, 3, 2, 3, 1);
  }
  #matrix2:hover{
    transform: matrix(1, 0, 1, 0.6, 1, 0);
  }
  #yourOwnMatrix:hover{
    transform: yourOwnMat(1, 10, 0.5, 1, 0, 0);
  }



  #threeD{
    border: 3px dotted #4fb54f;
    background-color: #839970;
  }
  /* 3D Animations, X, Y, Z axis */



  /* Translate 3D Method*/
  #trans3D:hover{
    transform: translate3d(50px, 10px, 150px);
  }


  /* Rotate 3D Method */
  /* Rotate Z Method */
  #rotateZ:hover{
    transform: rotateZ(90deg);
  }



  /* 
  transition
  transition-delay
  transition-duration
  transition-property
  transition-timing-function 
  */
  #transitions{
    border: 3px solid #8c55c3;
    background-color: #59a19a;
  }

  .box1{
    width: 50px;
    height: 50px;
    background-color: #e0e090;
    border: 1px solid #919159;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }

  #transition:hover{
    width: 100px;
    height: 100px;
    background-color: #9f3c3c;
  }

  #delay{
    transition: width 2s;
    transition-delay: 1s;
  }
  #delay:hover{
    width: 100px;
  }

  #duration{
    transition: background-color 4s;
    transition-duration: 4s;
  }
  #duration:hover{
    background-color: lightpink;
  }

  #propert{
    transition-property: width;
  }
  #propert:hover{
    width: 100px;
  }

  #timing{
    transition-timing-function: ease-in;
  }
  #timing:hover{
    width: 100px;
  }








  #animations{
    background-color: #c49292;
    border: 3px dashed #72a12b;
  }

  #animate{
    animation-name: example;
    animation-duration: 10s;  
  }
  @keyframes example{
    from{background-color: #f1ffa8;}
    to{background-color: #8049ee;}
  }

  #animate2{
    animation-name: sample;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  @keyframes sample{
    0%{background-color: #ffa8a8;}
    25%{background-color: #9c49ee;}
    50%{background-color: #2954ff;}
    75%{background-color: #419b42;}
    100%{background-color: #a8ffd7;}
  }

  #animate3{
    position: relative;
    animation-name: allOver;
    animation-duration: 2s;
    animation-iteration-count: 20;
  }
  @keyframes allOver{
    0%{background-color: #ffa8a8; left: 0px; top: 0px}
    25%{background-color: #9c49ee; left: 200px; top: 0px}
    50%{background-color: #2954ff; left: 0px; top: 0px}
    75%{background-color: #419b42; left: 0px; top: 200px}
    100%{background-color: #a8ffd7; left: 0px; top: 0px}
  }
  /* Perspective Method*/



  /* Matrix 3D */



  /*  */